table{
  display: block;
  overflow: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  height: 70vh;
}

table::-webkit-scrollbar {
  display:none;
}

table tbody {
  width: 600px;
  display:table;
}

td{
  width: 50px;
  height: 50px;
  background-color: #F5D8A6;
}

table .selected{
  background-color: #f2994a;
}

table .team_1{
  background-color: #db2d2d;
}

table .team_2{
  background-color: #2d9cdb;
}

.team-status{
  display: flex;
  justify-content: space-around;
  padding: 40px;
  font-size: 20px;
}

.team-1-status span{
  color: #db2d2d;
  margin-right: 10px;
}

.team-2-status span{
  color: #2d9cdb;
  margin-right: 10px;
}

td img{
  margin-left: 14px;
}

.finish-vote{
  text-align: center;
  font-size: 18px;
}

.logout-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  position: absolute;
  top: 15px;
  right: 15px;
}

